<html>
    <head>
        <title>BATTLE!</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Creepster&family=Exo:wght@100;400&family=Libre+Baskerville&family=Permanent+Marker&family=Rhodium+Libre&family=Swanky+and+Moo+Moo&display=swap" rel="stylesheet">
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class = "heading">
              <h1>Deck Monsters - Round: {{props.turn_count}}</h1>
            </div>
          </div>
        <hr>
        </div>
      {% if props.one_len == 0 %}
      <form class="loss" method="post" action="/end">
        <label class="loss">You Lose...</label>
        <input name="game_result" type="submit" value="loss">
      </form>
      {% elif props.two_len == 0 %}
      <form class="win" method="post" action="/end">
        <label class="win">You WIN!!!</label>
        <input name="game_result" type="submit" value="win">
      </form>
      {% else %}
      <div class="row">
        <div class="col-4">
          <div class="card bg-primary bg-gradient">
            <div class="card-body">
              <h5 class="card-title">Your Deck</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{props.player_one}}</h6>
                <img src="/static/images/good_monster3.jpg" alt="good monster deck">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="battlespace">
            <table class="text player">
              <tr>
                <th>Your Monster</th>
                <td>{{props.player_one_cards[-1]}}</td>
              </tr>
            <tr>
              <th>Level</th>
              <td>{{props.player_one_cards[-1].level}}</td>
            </tr>
            <tr>
              <th>Strength</th>
              <td>{{props.player_one_cards[-1].strength}}</td>
            </tr>
            <tr>
              <th>Dexterity</th>
              <td>{{props.player_one_cards[-1].dexterity}}</td>
            </tr> 
            <tr>
              <th>Intelligence</th>
              <td>{{props.player_one_cards[-1].intelligence}}</td>
            </tr>
            </table>
            <br>
            <br>
            <br>
            <table class="text enemy">
              <tr>
                <th>Enemy Monster</th>
                <td>{{props.computer_cards[-1]}}</td>
              </tr>
            <tr>
              <th>Level</th>
              <td>{{props.computer_cards[-1].level}}</td>
            </tr>
            <tr>
              <th>Strength</th>
              <td>{{props.computer_cards[-1].strength}}</td>
            </tr>
            <tr>
              <th>Dexterity</th> 
              <td>{{props.computer_cards[-1].dexterity}}</td>
            </tr>
            <tr>
              <th>Intelligence</th>
              <td>{{props.computer_cards[-1].intelligence}}</td>
            </tr>
            </table>
          </div>
        </div>
        <div class="col-4">
          <div class="card bg-danger bg-gradient">
            <div class="card-body">
              <h5 class="card-title">Enemy Deck</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{props.computer_player}}</h6>
                <img src="/static/images/evil_monster.jpg" alt="good monster deck">
            </div>
          </div>
        </div>
      </div>
      <hr>
        <form method="post" action="/damage">
          <input class="attack" type="submit" name="attack_type" value="Attack">
          <label class="attack">Consistent damage based on strength: {{props.player_one_cards[-1].strength}}</label>
          <br>
          <input class="attack" type="submit" name="attack_type" value="Backstab">
          <label class="attack">100 Damage, chance of success based on dexterity: {{props.odds}}</label>
          <br>
          <input class="attack" type="submit" name="attack_type" value="Magic Strike">
        <label class="attack">Ranging damage based on intelligence: between 0 and {{props.player_one_cards[-1].intelligence*2}}</label>
        </form>
        {% endif %}
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
      </div>
    </body>
</html>